.add-story {
    display: flex;
    justify-content: center;
    margin-bottom: $l-size;
}

.add-story--text-input {
    flex-grow: 1;
    max-width: 50rem;
    height: 5rem;
    outline: none;
    background: $white;
    border: 1px solid $silver;
    border-right: none;
}

.add-story__icons {
    display: flex;
    align-items: center;
    padding-right: 10px;
    background: $white;
    border: 1px solid $silver;
    border-left: none;
}

.add-story__icons .fa {
    cursor: none;
}
