.fa {
    font-size: 1.5rem;
    margin: 0 4px;
    cursor: pointer;
} 

.fa-edit {
    color: $off-blue;
}

.fa-delete {
    color: $mandy; 
}

.fa-white {
    color: white;
}

.fa-blue {
    color: $off-blue;
}

.fa-mandy {
    color: $mandy; 
}