.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 300ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: $Chantilly; //#FAFAFA
    width: 588px;
    outline: none;
    > form {
        display: flex;
        flex-direction: column;
    }
}

.modal__error {
    padding: 3px 0 0 10px;
    color: $mandy;
}

.modal-title {
    margin: 0;
    padding: 10px;
    background: $Chantilly;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: $font-size-small;
}

.modal-body {
    -moz-box-shadow:    inset  0  5px 5px -5px $grey, 
                        inset  0 -3px 3px -3px $grey;
    -webkit-box-shadow: inset  0  5px 5px -5px $grey, 
                        inset  0 -3px 3px -3px $grey;
    box-shadow:         inset  0  5px 5px -5px $grey, 
                        inset  0 -3px 3px -3px $grey;
    border: none;
    outline: none;
    text-align: justify;
    padding: 5px 10px 25px 10px;
    background: $Chantilly; 
    &:disabled {
        color: black;
    }
}

.modal-footer {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $grey;
    * {
        font-size: $font-size-small;
    }
}

.modal-footer__actions {
    display: flex;
    align-items: center;
    > * {
        margin-right: $s-size;;
    }
    .fa-delete {
        cursor: pointer;
    }
}

.modal-footer__actions span { 
    display: flex;
    align-items: center;
    input {
        margin-left: 5px;
    }
}

.modal-footer .button--link {
    color: gray;
    float: right;
}

@media (max-width: $desktop-breakpoint) {
    .modal {
        width: 100%;
    }
}