.page-header {
    background: $off-blue;
    margin-bottom: $l-size;
    padding: $l-size 0 0 0;
    text-align: center;
}

.page-header__title {
    margin: 0;
    color: white;
    font-weight: 300; 
    span {
        font-weight: 700;
    }
}

.page-header__title--quote {
    font-size: 25px;
    font-family: Courier;
    padding: 0 2rem;
}

.page-header__subtitle {
    color: white;
    margin: 0px;
    font-family: Courier;
    font-size: $font-size-large;

}

.page-header__actions {
    padding: 2rem;
}

.page-header__profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    margin-top: 1rem;
    > div {
        background: linear-gradient(to bottom, $off-blue 50%, white 50%);
        img {
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
}