.stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.story-column {
    width: 24rem;
}

.story {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    margin-top: 8px;
    > div:first-child {
        background: $Chantilly;
        padding: 10px 15px;
        text-align: justify;
        cursor: pointer;
        -webkit-box-shadow: 0 0 5px 0 $grey;
        -moz-box-shadow: 0 0 5px 0 $grey;
        box-shadow: 0 0 10px 0 $grey;
        transition: background .3s ease-in-out;
        &:hover {
            background: lighten($Chantilly, 10%);
        }
    }
}

.story__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.story__title h4 {
    margin: 0 0 5px 0;
}

.story__title .icons {
    padding: 5px;
    > * {
        margin-right: 5px;
    }
}

.story__body {
    margin: 0;
    max-height: 38rem;
    overflow-y: hidden;
}

.story__footer {
    background: $Chantilly;
    text-align: right;
    .button--link {
        font-size: $font-size-small;
        color: $off-blue;
    }
}


@media (max-width: 800px) {
    .story-column {
        width: 24rem;
    }
}

@media (max-width: 600px) {
    .story-column {
        flex: 100%;
        max-width: 100%;
    }
}
