*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    color: $dark-grey;
    line-height: 1.6;
    background: $off-white;
}

button {
    cursor: pointer;
}

 button:disabled {
     cursor: default;
 }

 .muted-text {
     color: gray;
 }